<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-row">
        <!-- Username using Carbon web component wired to reactive form -->
        <cds-text-input #usernameEl label="Username" id="username" placeholder="Enter username" class="form-control-width"
            formControlName="username"
            [invalid]="username.invalid && (username.dirty || username.touched)"
            [invalidText]="'Username is required.'"
            autocomplete="off"></cds-text-input>
    </div>
    <!-- Password using Carbon web-component cds-password bound to reactive form -->
    <div class="form-row">
        <cds-password-input #passwordEl label="Password" id="password" placeholder="Enter password" class="form-control-width"
            formControlName="password" autocomplete="off"
            [invalid]="password.invalid && (password.dirty || password.touched)"
            [invalidText]="'Password is required.'"></cds-password-input>
    </div>
    <div class="form-row">
        <cds-button-set>
            <button cdsButton size="lg" type="submit" [disabled]="form.invalid"
                class="cds--btn--primary form-control-width">Login</button>
            <button cdsButton type="button" (click)="simulateAutofill()" class="form-control-width">Simulate autofill</button>
        </cds-button-set>
    </div>
</form>