<form (ngSubmit)="submit()" #loginForm="ngForm">
    <cds-text-label for="username">Username</cds-text-label>
    <input id="username" name="username" type="text" [(ngModel)]="username" placeholder="Enter username" required
        #usernameModel="ngModel" />

    <!-- Use Carbon Angular password label component -->
    <cds-password-label [invalid]="(passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)) === true"
        [invalidText]="getPasswordInvalidText()">
        Password
        <input id="password" name="password" cdsPassword [(ngModel)]="password" placeholder="Enter password"
            #passwordModel="ngModel" />
    </cds-password-label>
    <cds-button-set>
        <button cdsButton  type="submit" [disabled]="loginForm.invalid">Login</button>
    </cds-button-set>
</form>